
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,200&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto";
    color: white;
}

html, body{
    min-height: 100%;
}

body{
    background: black;
}

/* Layout & Nav */

.layout{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}

nav .links{
    display: inline-block;
    text-align: right;
}

nav a{
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    border-color: rgb(8, 182, 124);
}

footer p{
    text-align: center;
    color: white;
    margin: 4px auto;
}